// global color tokens
$-clr-white: hsl(0, 0%, 100%);
$-clr-gray-100: hsl(0, 0%, 91%);
$-clr-gray-200: hsl(0, 0%, 79%);
$-clr-gray-300: hsl(0, 0%, 66%);
$-clr-gray-400: hsl(0, 0%, 40%);
$-clr-gray-500: hsl(0, 0%, 15%);
$-clr-gray-600: hsl(0, 0%, 13%);
$-clr-gray-700: hsl(0, 0%, 12%);
$-clr-gray-800: hsl(0, 0%, 9%);
$-clr-gray-900: hsl(0, 0%, 7%);
$-clr-blue-50: hsl(208, 40%, 97%);
$-clr-blue-100: hsl(210, 41%, 95%);
$-clr-blue-200: hsl(216, 55%, 80%);
$-clr-blue-300: hsl(222, 52%, 65%);
$-clr-blue-400: hsl(227, 47%, 56%);
$-clr-blue-500: hsl(240, 100%, 14%);
$-clr-blue-600: hsl(227, 49%, 39%);
$-clr-blue-700: hsl(225, 39%, 34%);
$-clr-blue-800: hsl(222, 32%, 30%);
$-clr-blue-900: hsl(226, 45%, 29%);
$-clr-yellow-50: hsl(45, 100%, 97%);
$-clr-yellow-100: hsl(45, 80%, 94%);
$-clr-yellow-200: hsl(40, 66%, 78%);
$-clr-yellow-300: hsl(37, 75%, 66%);
$-clr-yellow-400: hsl(39, 72%, 55%);
$-clr-yellow-500: hsl(45, 77%, 37%);
$-clr-yellow-600: hsl(42, 76%, 33%);
$-clr-yellow-700: hsl(36, 76%, 28%);
$-clr-yellow-800: hsl(36, 76%, 26%);
$-clr-yellow-900: hsl(38, 76%, 23%);
$-clr-green-50: hsl(145, 50%, 96%);
$-clr-green-100: hsl(148, 40%, 92%);
$-clr-green-200: hsl(148, 40%, 78%);
$-clr-green-300: hsl(147, 39%, 63%);
$-clr-green-400: hsl(140, 40%, 46%);
$-clr-green-500: hsl(140, 71%, 30%);
$-clr-green-600: hsl(140, 66%, 28%);
$-clr-green-700: hsl(140, 65%, 25%);
$-clr-green-800: hsl(140, 61%, 20%);
$-clr-green-900: hsl(140, 61%, 16%);
$-clr-red-50: hsl(6, 100%, 97%);
$-clr-red-100: hsl(6, 67%, 93%);
$-clr-red-200: hsl(9, 58%, 79%);
$-clr-red-300: hsl(13, 59%, 65%);
$-clr-red-400: hsl(14, 56%, 53%);
$-clr-red-500: hsl(14, 90%, 36%);
$-clr-red-600: hsl(9, 84%, 34%);
$-clr-red-700: hsl(9, 83%, 27%);
$-clr-red-800: hsl(9, 72%, 21%);
$-clr-red-900: hsl(12, 79%, 15%);