@use "../abstracts/" as *;

.container {
  --padding: #{1rem} * 2;
  --max-width: #{75rem};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="narrow"] {
  --max-width: #{50rem};
}
.container[data-type="wide"] {
  --max-width: #{95rem};
}
.container[data-type="full-bleed"] {
  --max-width: 100%;
}
